# Logs
logs
*.log
npm-debug.log*

.idea/

# webpack-visualizer-plugin
bundle-stats.html

# assets
assets/
public/

# Dependency directories
node_modules

# webpack isomorphic
webpack-assets.json
webpack-stats.json
