@import '~css/func/index';

.components-not-found-render {
  background: black;

  @extend %color-white;
  @extend %full;

  .text {
    @extend %percenter;
    @extend %text-align-center;

    &:before,
    &:after {
      line-height: 1.2;
      font-size: 26px;
      font-weight: bold;

      @extend %white-space-nowrap;
    }

    &:before {
      @extend %display-block;
    }

    &:after {
      font-size: 12px;
      color: rgba(white, .6);
      padding-bottom: 3px;
      border-bottom: 1px solid currentColor;

      @extend %display-inline-block;
    }
  }
}
