@import '~css/func/index';

.components-not-found-render {
  background: black;

  @extend %full;

  @include rules((
    color: white,
  ));

  .text {
    @extend %percenter;

    @include rules((
      text-align: center,
    ));

    &:before,
    &:after {
      line-height: 1.2;
      font-size: 26px;
      font-weight: bold;

      @include rules((
        text-align: bold,
        white-space: nowrap,
      ));
    }

    &:before {
      @include rules((
        display: block,
      ));
    }

    &:after {
      color: rgba(white, .6);
      padding-bottom: 3px;
      border-bottom: 1px solid currentColor;

      @include rules((
        font-size: 12px,
        display: inline-block,
      ));
    }
  }
}
