@import "./func/index";

.react-box-style {
  &,
  * {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-perspective: 100%;
  }
}

