@mixin linearGradient($b: $blue, $c: $green, $a: to left) {
  background: -webkit-linear-gradient($a, $b , $c);
  background: linear-gradient($a, $b, $c);
}

@mixin bg($size: cover,$url:'/', $x: 50%, $y: 50%){
  background-image: url($url);
  background-position: $x $y;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin ellipsisMul($num: 1, $hei: ''){
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

@mixin marginLeft($w: 40px, $num: 8) {
  $m: 1/($num - 1);
  $perM: percentage($m);

  margin-left: calc(#{$perM} - #{$w*$num/($num - 2)});
  float: left;

  &:first-child{
    margin-left: 0px;
  }
}

@mixin marginCenter($mt: 0px, $ml: 0px, $t: 50%, $l: 50%) {
  position: absolute;
  top: $t;
  left: $l;

  margin-top: $mt;
  margin-left: $ml;
}

@mixin opacityFade($a: 1, $b: 0) {
  0%{
    opacity: $a;
  }
  100%{
    opacity: $b;
  }
}

@mixin full-width {
  @include rules((
    left: 0,
    right: 0,
    position: absolute,
  ), true);
}

@mixin full-height {
  @include rules((
    top: 0,
    bottom: 0,
    position: absolute,
  ), true);
}

@mixin full {
  @include full-height;
  @include full-width;
}

@mixin no-scroll {
  &::-webkit-scrollbar {
    @include rules((
      opacity: 0,
      display: none,
      background: transparent,
    ), true);
  }
}

@mixin percenter {
  @include rules((
    left: 50%,  
    top: 50%,  
    transform: translate(-50%, -50%),
    position: absolute,
  ), true);
}

@mixin ellipsis {
  @include rules((
    text-overflow: ellipsis,
    white-space: nowrap,
    overflow: hidden,
  ), true);
}

@mixin row {
  &:before, &:after {
    @include rules((
      content: '',
      clear: both,
      display: table,
    ), true);
  }
}

@mixin flex-column {
  @include rules((
    flex-direction: column,
    display: flex,
    justify-content: space-between,
  ), true);
}

@mixin flex-column-around {
  @include rules((
    flex-direction: column,
    display: flex,
    justify-content: space-around,
  ), true);
}

@mixin default-bg {
  @include full;

  @include rules((
    position: fixed,
    background-color: rgba(0,0,0,.3),
  ), true);
}

@mixin table {
  @include rules((
    display: table,
    width: 100%,
  ), true);

  > * {
    @include rules((
      display: table-cell,
    ), true);

    &.equal {
      @include rules((
        width: 50%,
      ), true);
    }
  }

  &.center {
    > * {
      @include rules((
        vertical-align: middle,
      ), true);
    }
  }
}

@mixin active-opacity {
  @include rules((
    transition: .2s,
  ), true);

  &:active,
  &:hover {
    @include rules((
      opacity: .7,
    ), true);
  }
}