@import "./variable";

@mixin linearGradient($b: $blue, $c: $green, $a: to left) {
  background: -webkit-linear-gradient($a, $b , $c);
  background: linear-gradient($a, $b, $c);
}

@mixin bg($size: cover,$url:'/', $x: 50%, $y: 50%){
  background-image: url($url);
  background-position: $x $y;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin clearBoth{
  &:before, &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin ellipsisMul($num: 1, $hei: ''){
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

@mixin marginLeft($w: 40px, $num: 8) {
  $m: 1/($num - 1);
  $perM: percentage($m);

  margin-left: calc(#{$perM} - #{$w*$num/($num - 2)});
  float: left;

  &:first-child{
    margin-left: 0px;
  }
}

@mixin marginCenter($mt: 0px, $ml: 0px, $t: 50%, $l: 50%) {
  position: absolute;
  top: $t;
  left: $l;

  margin-top: $mt;
  margin-left: $ml;
}

@mixin opacityFade($a: 1, $b: 0) {
  0%{
    opacity: $a;
  }
  100%{
    opacity: $b;
  }
}

@import "./variable";

@mixin position-absolute{
  position: absolute;
}

@mixin position-relative{
  position: relative;
}

@mixin position-fixed{
  position: fixed;
}

@mixin display-inline-block{
  display: inline-block;
}

@mixin display-block{
  display: block;
}

@mixin display-none{
  display: none;
}

@mixin width-100{
  width: 100%;
}

@mixin height-100{
  height: 100%;
}

@mixin visibility-hidden{
  visibility: hidden;
}

@mixin overflow-hidden{
  overflow: hidden;
}

@mixin background-grey{
  background-color: $grey;
}

@mixin cursor-pointer{
  cursor: pointer;
}

@mixin opacity-0{
  opacity: 0;
}

@mixin vertical-align-middle{
  vertical-align: middle;
}

@mixin text-align-center{
  text-align: center;
}

@mixin text-align-left{
  text-align: left;
}

@mixin text-align-right{
  text-align: right;
}

@mixin float-left{
  float: left;
}

@mixin float-right{
  float: right;
}

@mixin pointer-events-none{
  pointer-events: none;
}

@mixin pointer-events-all{
  pointer-events: all;
}

@mixin background-color-white{
  background-color: white;
}

@mixin color-white{
  color: white;
}

@mixin color-red{
  color: $red;
}

@mixin color-blue{
  color: $fontBlue;
}

@mixin overflow-auto{
  overflow: auto;
}

@mixin overflow-hidden{
  overflow: hidden;
}

@mixin backface-visibility-hidden{
  backface-visibility: hidden;
}

@mixin white-space-nowrap{
  white-space: nowrap;
}

@mixin font-weight-bold{
  font-weight: bold;
}

@mixin border-radius-50{
  border-radius: 50%;
}

@mixin z-index-1{
  z-index: 1
}

@mixin full-width{
  left: 0;
  right: 0;

  @include position-absolute;
}

@mixin full-height{
  top: 0;
  bottom: 0;

  @include position-absolute;
}

@mixin full{
  @include full-height;
  @include full-width;
}

@mixin no-scroll{
  &::-webkit-scrollbar{
    background: transparent;
    opacity: 0;
    display: none;
  }
}

@mixin percenter{
  left: 50%;  
  top: 50%;  
  transform: translate(-50%, -50%);

  @include position-absolute;
}

@mixin ellipsis{
  text-overflow: ellipsis;
  @include white-space-nowrap;
  @include overflow-hidden;
}

@mixin row{
  &:before, &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin display-flex{
  display: flex;
}

@mixin justify-content-space-between{
  justify-content: space-between;
}

@mixin justify-content-space-around{
  justify-content: space-around;
}

@mixin flex-column{
  flex-direction: column;

  @include display-flex;
  @include justify-content-space-between;
}

@mixin flex-column-around{
  flex-direction: column;

  @include display-flex;
  @include justify-content-space-around;
}

@mixin default-bg{
  background-color: rgba(0,0,0,.3);

  @include full;
  @include position-fixed;
}

@mixin table{
  display: table;
  @include width-100;

  >*{
    display: table-cell;

    &.equal{
      width: 50%;
    }
  }

  &.center{
    >*{
      @include vertical-align-middle;
    }
  }
}